<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041483947689-ft9e6nkvia766g6tl0ko1flhdcc5df5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041483947689-ft9e6nkvia766g6tl0ko1flhdcc5df5q</string>
	<key>API_KEY</key>
	<string>AIzaSyCqXWS__6R8OUrMTfnrex328EqIGAXjefE</string>
	<key>GCM_SENDER_ID</key>
	<string>1041483947689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AwesomeProject</string>
	<key>PROJECT_ID</key>
	<string>bridging-test</string>
	<key>STORAGE_BUCKET</key>
	<string>bridging-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041483947689:ios:bec4c25eb810810a3413b8</string>
</dict>
</plist>